@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

:root {
	/* --primary: teal; */
	/* --secondary: #fefae7; */
	/* background-color: #fefae7; */

	--primary: black;
	--secondary: #b3b3de;
	background-color: #b3b3de;

	/* background-color: #0badd0; */
	/* height: 100vw; */
	/* --primary: indigo; */
	/* --secondary: #0badd0; */

	font-family: 'Poppins', sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	/* border-radius: 1rem; */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	/* border-radius: 1rem;
	border-right: 3px solid var(--primary); */
	border-left: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer components {
	.editor-icons {
		@apply flex p-2 items-center bg-white justify-center m-1 border-[var(--primary)] border-2;
	}

	.bdg {
		box-sizing: border-box;
		background: rgba(255, 196, 0, 0.61) !important;
	}
	.odb {
		outline: 5px solid rgba(255, 38, 0, 0.445) !important;
	}
}
